.colorDep {
    color: #ff7644;
}

.colorGreen {
    color: #1fda27;
}

.adjustTitle1 {
    margin-top: -25px;
}

.iconeCv {
    font-size: 55px;

}

.iconeMr {
    margin-right: 10px;
}

.titleCv {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.buttonWidth {
    width: 120px !important;
}

.buttonWidthCv {
    width: 120px !important;
}

.buttonOnCv {
    background-color: #1d7d20;
    color: white;
    width: 120px !important;
}


@media (min-width: 100px) and (max-width: 991px) {
    .colCv {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .aProp {
        text-align: center;
    }

    .aul {
        display: inline;
        text-align: center;
    }

    .aulPlace {
        display: inline;
    }

    .ali {
        display: inline;
    }

    .buttonOnCv {
        margin-top: 10px;
        margin-right: 5px;
    }

    .buttonWidthCv {
        margin-top: 10px;
        margin-right: 5px;
    }

    .placeXl {
        display: none;
    }

    .placeMd {
        margin-top: -36px;
    }
}

@media (min-width: 991px) {
    .placeMd {
        display: none;
    }

}