@media all and (min-width: 1600px) {
    .adjustTitle {
        margin-left: -10% !important;
    }
}

@media all and (min-width: 1500px) and (max-width: 1600px) {
    .adjustTitle {
        margin-left: 12%;
    }
}

@media all and (min-width: 1300px) and (max-width: 1500px) {
    .adjustTitle {
        margin-left: 13%;
    }
}

@media all and (min-width: 500px) and (max-width: 1300px) {
    .adjustTitle {

        margin-left: auto !important;
        margin-right: auto !important;
        width: 70%;
        text-align: center !important;
    }
}

@media all and (min-width: 0px) and (max-width: 500px) {
    .adjustTitle {

        margin-left: auto !important;
        margin-right: auto !important;
        width: 95%;
        text-align: center !important;
    }
}

